body,
html {
  overflow-x: clip;
}

/* Selection */
::selection {
  background: #ecdfb9;
  color: #1c1a17;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #ddd3bf;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a9812f;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}
